{% extends 'frontend/base.html' %}
{% block title %}Link{% endblock %}
{% block content %}


  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <img class="img1" src="static/images/beach.jpg"  alt="Cingue Terre" width="300" height="200">
      <h3>ละเว้นเรื่องไม่สำคัญ</h3>
      <p>การเรียนรู้ที่จะละเว้นหรือปฏิเสธเรื่องที่ไม่สำคััญออกไปบ้าง เพราะช่วยคุณประหยัดพลังงาน สร้างแรงจูงใจที่สนับสนุนให้คุณโฟกัสในสิ่งที่สำคัญและทำอย่างมีประสิทธิภาพ</p>
      <p>Learning to ignore or deny things that are not so important Because it helps you save energy</p>
    </div>
    <div class="col-sm-4">
      <h3> อ่านเรื่องราวความสำเร็จ</h3>
      <p>อ่านเรื่องราวความสำเร็จของหลายๆคนจนทำให้เรารู้ว่าจริงๆแล้วความสำเร็จมันมีความหมายอะไรต่อคุณกันแน่ ? ก่อนที่คุณจะเดินทางออกตามหาความสำเร็จในชีวิตของคุณ คุณต้องเข้าใจก่อนว่า อะไร ที่ “ไม่ใช่” ความสำเร็จที่แท้จริงสำหรับตัวคุณ ถ้าคุณใช้เวลาไปกับ โซเชี่ยลมีเดีย อย่าง facebook Instagram วันละแค่ 2–3 นาที คุณจะเห็นได้เลยว่ามีคนจำนวนไม่น้อย ที่มีมุมมองเกี่ยวกับความสำเร็จที่คับแคบมาก</p>
      <p>เราต้องตั้ง เป้าหมาย วัตถุประสงค์ และ วิถีของเรา บนพื้นฐานของความปรารถนาที่แท้จริงของตัวเอง ไม่ใช่สิ่งที่คนอื่นต้องการให้เราเป็น</p>
      <img class="img1" src="static/images/plant.jpg"  alt="Cingue Terre" width="300" height="200">
    </div>
    <div class="col-sm-4">
        <img class="img1" src="static/images/sea-2.jpg"  alt="Cingue Terre" width="300" height="200">
      <h3> เขียนเป้าหมายที่ชัดเจน</h3>        
      <p>เมื่อกำหนดเป้าหมายและวางแผนเรียบร้อยแล้ว ก็เริ่มลงมือปฏิบัติได้เลย จงมุ่งมั่น ตั้งใจ ทุ่มเททำให้เต็มที่ หมั่นทบทวนเป้าหมายของคุณอยู่สม่ำเสมอ อย่าไปกลัวกับอุปสรรคที่จะเกิดขึ้น เพราะอุปสรรคเป็นบททดสอบที่เปรียบเหมือนบันไดให้เราก้าวข้ามไปสู่ความสำเร็จ หากคิดและแก้ไขปัญหาได้ ความสำเร็จอยู่ไม่ไกลเกินเอื้อมอย่างแน่นอน</p>
      <p>" Most successful people ... start with clear goals setting " </p>
    </div>
  </div>
</div>
{% endblock %}